.container {
  color: white;
  left: 0;
  right: 0;
  height: 100vh;
  background: linear-gradient(#282423, rgba(0, 0, 0, 0.5)),
    url("../../../assets/fitWall.png");
  background-size: cover;
  font-family: Catamaran;
  display: flex;
  align-items: center;
  justify-content: center;

  .context {
    display: block;

    height: 90%;
    width: 90%;

    h1 {
      color: #79d7ff;
      display: block;
      width: fit-content;
      font-size: 46px;
      margin-left: auto;
      margin-right: auto;
    }
    label {
      display: block;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0.5em;
      margin-top: 2em;
    }
    h2 {
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
      margin-bottom: 15%;
    }

    button {
      margin-top: 1em;
      height: 2.8em;
      width: 100%;
      border-radius: 1.5em;
      font-size: 20px;
      background-color: #79d7ff;
    }
    h3{
        margin-top: 10%;
        font-size: 18px;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    .items {
      display: flex;
      border: 1px solid black;
      width: 100%;
      margin-left: auto;
      margin-right: auto;

      border-radius: 1em;

      background-color: rgba(144, 144, 144, 0.2);
      .icon {
        margin-left: 1em;
        height: 3.8em;
        width: 1.5em;
        color: white;
        opacity: 1;
      }

      .input-fileds {
        background: transparent;
        border: none;
        outline: none;
      }
    }
  }
}
