#container {
  color: white;
  left: 0;
  right: 0;
  height: 100vh;
  background-image: url("../../assets/fitWall.png");
  background-size: cover;
  font-family: Catamaran;

  display: flex;

  .context {
    margin-top: 120%;
    width: 100%;
    display: block;
    height: fit-content;

    h1 {
      font-size: 56px;
      margin-left: auto;
      margin-right: auto;
      width: fit-content;
      color: #79d7ff;
    }

    h2 {
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
      width: fit-content;
    }

    button {
      height: 3.5em;
      width: 85%;
      border-radius: 2em;
      font-size: 20px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      background-color: #79d7ff;
      border: none;
    }
  }
}
