:host {
  --border-color: white;
  --heigth: 4em;

  .container {
    margin-top: 1.2em;
    font-family: "Catamaran", sans-serif;
    height: var(--heigth);
    width: fit-content;
    padding-left: 1em;
    scrollbar-width: none;
    list-style: none;
    overflow-y: scroll;
    font-size: 48px;

    li {
      margin-left: 0;
      height: 55px;

      &:first-child{
        color: #79d7ff;
      }
    }

  

    &::-webkit-scrollbar-thumb {
    }

    &::-webkit-scrollbar {
      width: 10px;
    }
  }

  .wholeThing {
    display: flex;


    margin-top: 0em;
  }
}
