<ion-content [fullscreen]="true" class="container" *ngIf="!isEditing">
  <span [hidden]="!imagesLoaded">
    <div class="header">
      <h1>Fitness Profile</h1>
    </div>

    <div class="profile-picture">
      <!-- <ng-container
      *ngIf="getUserProfilePicture$ | async as userProfilePicture"
      ;
      else
      elseBlock
    > -->
      <img
        [src]="getUserProfilePicture$ | async"
        (load)="imagesLoaded = true"
      />
      <!-- </ng-container> -->

      <!-- <ng-template #elseBlock>
      <img src="../../assets/prof.jpg" alt="" />
    </ng-template> -->
    </div>

    <h1 class="fitness-header">Your Fitness Profile</h1>

    <div class="stats">
      <div class="stat">
        <div class="stat-container">
          <h1 class="stat-number">{{(getPerson$ |async)?.weight}}</h1>
          <h1>Current weight (kg)</h1>
        </div>
      </div>

      <div class="stat">
        <div class="stat-container">
          <h1 class="stat-number">{{(getPerson$ |async)?.height}}</h1>
          <h1>Height (cm)</h1>
        </div>
      </div>

      <div class="stat">
        <div class="stat-container">
          <h1 class="stat-number">{{(getPerson$ |async)?.age}}</h1>
          <h1>Age</h1>
        </div>
      </div>
    </div>

    <div class="description">
      <h1 class="description-header">Goal</h1>
      <div class="chip">
        <ng-container *ngIf="(getPerson$ |async)?.goal === 'Get Fitter'">
          <img src="../../assets/heart.svg" alt="heart-icon" />
          <div class="text-container">
            <h1>Get Fitter</h1>
            <h2>Tone up & feel healthy</h2>
          </div>
        </ng-container>
        <ng-container *ngIf="(getPerson$ |async)?.goal === 'Gain Muscles'">
          <img src="../../assets/dumbbell.svg" alt="heart-icon" />
          <div class="text-container">
            <h1>Gain Muscles</h1>
            <h2>Build mass & strength</h2>
          </div>
        </ng-container>
        <ng-container *ngIf="(getPerson$ |async)?.goal === 'Lose Weight'">
          <img src="../../assets/fire.svg" alt="heart-icon" />
          <div class="text-container">
            <h1>Lose Weight</h1>
            <h2>Burn fat & get lean</h2>
          </div>
        </ng-container>
      </div>
      <ng-container *ngIf="getPerson$ |async as person">
        <h1 class="description-header">Calorie Intake Goal</h1>
        <div class="chip">
          <img src="../../assets/apple.svg" alt="heart-icon" />
          <div class="text-container-type">
            <h1>Recomended Calorie Intake</h1>
          </div>
          <span class="calorie">{{recomendedCalroieIntake.toFixed()}}</span>
        </div>
      </ng-container>
    </div>
    <button class="edit-button" (click)="editClick()">Edit Profile</button>
  </span>

  <div *ngIf="!imagesLoaded" class="loading">
    <div>
      <ion-skeleton-text
        [animated]="true"
        style="width: 80px"
      ></ion-skeleton-text>

      <ion-thumbnail
        style="
          margin-left: auto;
          margin-right: auto;
          display: block;
          width: fit-content;
          color: #000;
        "
      >
        <ion-skeleton-text
          [animated]="true"
          style="width: 40px; height: 40px; margin-bottom: 2em"
        ></ion-skeleton-text>
      </ion-thumbnail>

      <ion-skeleton-text
        [animated]="true"
        style="width: 80px"
      ></ion-skeleton-text>

      <ion-skeleton-text
        [animated]="true"
        style="width: 80px"
      ></ion-skeleton-text>

      <ion-skeleton-text
        [animated]="true"
        style="width: 80px"
      ></ion-skeleton-text>

      <ion-skeleton-text
        [animated]="true"
        style="width: 80px; height: 20px; border-radius: 0px"
      ></ion-skeleton-text>
    </div>
  </div>
</ion-content>

<ion-content *ngIf="isEditing" [fullscreen]="true" class="container-two">
  <ng-container *ngIf="getPerson$ |async as person; else notLoaded">
    <edit-profile-page
      [person]="person"
      [orginalProfilePicture]="getUserProfilePicture$ | async"
      (closeComponenent)="close($event)"
      (submitNewPhoto)="handlePhotoSubmission($event)"
      (submitEdit)="handlePersonSubmission($event)"
    >
    </edit-profile-page>
  </ng-container>

  <ng-template #notLoaded>
    <ion-list>
      <h3>
        <ion-skeleton-text
          [animated]="true"
          style="width: 80%"
        ></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text
          [animated]="true"
          style="width: 60%"
        ></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text
          [animated]="true"
          style="width: 30%"
        ></ion-skeleton-text>
      </p>
    </ion-list>
  </ng-template>
</ion-content>
