:host {
  --height: auto;
  --width: auto;
  // border: 4px orange solid;
  // width: var(--width);
  // width: fit-content;

  .container {
    display: block;
    // border: red 1px solid;
    // width: var(--width);
    // margin-left: auto;
    // margin-right: auto;

    ion-item {
      border-bottom: none;
      --border-color: #fff;
    }
  }
}
