.context {
  color: black;
}
#container {
  background-color: #161616;
  display: block;
  min-height: 100%;
  width: 100%;
  color: white;

  .categories {
    display: flex;
    width: 90%;
    overflow-x: scroll;
    padding-bottom: 1.5em;
    gap: 0.5em;
    margin-left: auto;
    margin-right: auto;

    .category {
      width: 7em;
      height: 6em;
      flex: 0 0 auto;

      text-align: center;

      .category-img {
        height: 70%;

        img {
          padding: 1em;

          display: block;
          height: 100%;
          margin-left: auto;
          margin-right: auto;
          border-radius: 5px;
          background-color: #282423;
        }
      }
    }
  }

  .spinner {
    position: absolute;
    left: 45%;
    bottom: 50%;
    font-size: large;
    color: #79d7ff;
    transform: scale(4);
  }

  .workouts {
    margin-left: 1em;
    display: flex;
    overflow-x: auto;
    gap: 1em;
  }

  .row {
    color: white;
    border-bottom: 1px solid white;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .auto {
    position: relative;
    width: 100%;
  }

  auto-complete {
    width: 70%;
    position: absolute;
    max-height: 200px;
    display: block;
    margin-top: -3%;
    overflow-y: auto;
    z-index: 999;
    left: 50%;
    transform: translate(-50%);
  }

  .search-container {
    display: flex;

    align-items: center;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
    .search-bar-container {
      width: 75%;
    }
    .menu-icon {
      font-size: 40px;
    }
  }

  .header-group {
    height: 30%;

    .workout-tracker {
      height: 55%;
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      border-radius: 1em;
      background-color: #282423;
      text-align: center;
      h1 {
        font-size: 16px;
      }

      .content-tracker {
        padding-bottom: 1em;
        p {
          margin-top: -0.5em;
        }

        ion-progress-bar {
          border-radius: 4px;
          padding: 3px;
          --background: #3e3a39;
          --progress-background: #79d7ff;
        }
      }
    }

    .header-title-group {
      padding-left: 1.5em;
      padding-right: 1.5em;
      height: 40%;

      display: flex;
      color: white;

      align-items: center;

      .text-pic {
        display: flex;
        width: 75%;
        align-items: center;
        gap: 1em;
      }

      .default-pic {
        border-radius: 3em;
        height: 58px;
        width: 58px;
        img {
          width: 100%;
          max-height: 100%;
          object-fit: cover;
          border-radius: inherit;
        }
      }

      .notification-icon {
        font-size: 30px;
        margin-left: 15%;
        margin-top: -5px;
      }

      .greetings {
        margin-right: 1em;

        h1 {
          font-size: 24px;
        }

        p {
          margin-top: -8%;
          font-size: 16px;
        }
      }
    }
  }
}
