<ion-content [fullscreen]="true">
  <div id="container">
    <div class="header-group">
      <div class="header-title-group">
        <div class="text-pic">
          <span class="default-pic"
            ><img [src]="profilePicture$ | async" alt=""
          /></span>
          <div class="greetings">
            <h1>Good Morning,</h1>
            <p>Victor Gonzalez</p>
          </div>
        </div>
        <ion-icon
          name="power-outline"
          class="notification-icon"
          (click)="logout()"
        ></ion-icon>
      </div>

      <div class="workout-tracker">
        <div class="content-tracker">
          <h1>Days you have worked out this week is {{workouts}} out of 7 !</h1>
          <p>{{(workouts/7 * 100).toFixed()}}% of days worked out this week</p>
          <ion-progress-bar [value]="workouts/7"></ion-progress-bar>
        </div>
      </div>
    </div>
    <br />
    <ion-row color="primary" class="row"> </ion-row>

    <ng-container *ngIf="!(isLoading$ | async)">
      <div
        class="auto"
        clickOutside
        (clickOutside)="handleOutsideSearchClick()"
      >
        <div class="search-container">
          <div class="search-bar-container">
            <ion-searchbar
              color="grey"
              (ionInput)="handleInput($event)"
            ></ion-searchbar>
          </div>
          <ion-icon name="menu" class="menu-icon"></ion-icon>
        </div>
        <ng-container *ngIf="(isSearching$ | async)">
          <ng-container
            *ngIf="(searchedWorkouts$ | async) as searchedWorkouts "
          >
            <auto-complete
              [workouts]="searchedWorkouts"
              (navEmit)="navToWorkoutPage($event)"
            >
            </auto-complete>
          </ng-container>
        </ng-container>
      </div>

      <h1 style="font-size: 20px; margin-left: 1em">Most popular workouts</h1>
      <div class="workouts" *ngIf="(workoutFiles$ | async) as workoutFiles">
        <workout-card
          *ngFor="let workoutFile of workoutFiles"
          [src]="workoutFile.gifUrl"
          [name]="workoutFile.workout.workout_name"
          [bodyCategory]="workoutFile.workout.major_muscle_group"
          (iconClicked)="navToWorkoutPage(workoutFile)"
        ></workout-card>
      </div>

      <h1 style="font-size: 20px; margin-left: 1em">Quick workouts</h1>

      <div
        class="workouts"
        *ngIf="(quickWorkoutFiles$ | async) as quickWorkoutFiles"
      >
        <workout-card
          *ngFor="let workoutFile of quickWorkoutFiles"
          [src]="workoutFile.gifUrl"
          [name]="workoutFile.workout.workout_name"
          [bodyCategory]="workoutFile.workout.major_muscle_group"
          (iconClicked)="navToWorkoutPage(workoutFile)"
        ></workout-card>
      </div>
    </ng-container>

    <h1 style="font-size: 20px; margin-left: 1em">Categories</h1>
    <div class="categories">
      <div class="category" (click)="navToSearchResults('Shoulders')">
        <div class="category-img">
          <img src="../../assets/shoulders.svg" />
        </div>
        <p>Shoulders</p>
      </div>
      <div class="category" (click)="navToSearchResults('Biceps')">
        <div class="category-img">
          <img src="../../assets/bicep-icon.svg" />
        </div>
        <p>Biceps</p>
      </div>
      <div class="category" (click)="navToSearchResults('Legs')">
        <div class="category-img">
          <img src="../../assets/leg-icon.svg" />
        </div>
        <p>Legs</p>
      </div>
      <div class="category" (click)="navToSearchResults('Chest')">
        <div class="category-img">
          <img src="../../assets/chest.svg" />
        </div>
        <p>Chest</p>
      </div>
      <div class="category" (click)="navToSearchResults('Back')">
        <div class="category-img">
          <img src="../../assets/back-icon.svg" />
        </div>
        <p>Back</p>
      </div>
      <div class="category" (click)="navToSearchResults('Triceps')">
        <div class="category-img">
          <img src="../../assets/tricep-icon.svg" />
        </div>
        <p>Triceps</p>
      </div>
    </div>

    <ng-container *ngIf="(isLoading$ | async)">
      <ion-spinner class="spinner" name="circles"></ion-spinner>
    </ng-container>
  </div>
</ion-content>
